/*----- CSS RESET CODE------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,


table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/*	font: inherit;
	vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/*----- CSS CUSTOM CODE------*/

body {background:#f7faff;}

.main_wrapper {
	width:1200px;
	height:auto;
	margin:auto;
	background:#fcfdff;

}

header {
	width:1200px;
	height:120px;
	margin:auto;

}

footer {
	width:1200px;
	height:120px;
	clear:both;
	background:#d1dcfc;
	text-align: center;
}

.content_wrapper {
	width:1200px;
	height:800px;
	margin:auto;
	background:#fcfdff;

}

.menubar {
	width:1200px;
	height:50px;
	color:black;
	border-bottom:1px solid black;
	/*background:#f7f8f9;*/
	background:#fcfdff;
}

#menu {
	padding:0;
	margin:0;
	line-height:48px;
	float:left;
}

#menu li {
	list-style:none;
	display:inline;

}

#menu a {
	text-decoration:none;
	color:black;
	padding:8px;
	margin:5px;
	font-size:18px;
	font-family:comic sans ms;

}


#menu a:hover {
	color:orange;
	text-decoration:underline;

}


#form {
	float:right;
	padding-right:8px;
	line-height: 55px;
}

#form form{

	height:50px;
}

#content_area {
	width:950px;
	/*height:800px;*/
	float:right;
	background:#fcfdff;

}

#sidebar {
	width:250px;
	/*height:800px;*/
	float:left;
	background:#fcfdff;

}


#sidebar_title {
	background:black;
	color:white;
	font-size:20px;
	font-family: arial;
	padding:10px;
	text-align: center;


}

#cats {
	text-align:center;
}

#cats li{
	list-style:none;
	display:block;
	margin:5px;
}

#cats a {
	color:black;
	padding:8px;
	margin:5px;
	font-size:20px;
	font-family: comic sans ms;
	text-decoration: none;
}

#cats a:hover {
color:orange;
font-weight:bolder;
text-decoration: underline;
}

#product_box {
	max-width:950px;
	text-align:center;
	margin-bottom:10px;
}

#single_product {
	background:#ffffff;
	display:inline-block;
	padding: 30px 0px 30px 0px;
	margin: 2px 2px 2px 2px;
	box-sizing: border-box;
	border: 1px outset #f2f2f2;
}

#single_product img {
	border:1px solid #f2f2f2;
	margin: 25px 10px 25px 10px;
	width:285px;
	height:275px;
}

#single_product #buttons {
	margin: 0px 15px 0px 15px;
}

#single_product #indiv_img {
	border:1px solid black;
	width:600px;
	height:450px;
}


#single_product h1 {
	font-size:30px;

}

#single_product h2 {
	margin: 15px 0px 15px 0px;
}

#single_product h3 {
	font-size:20px;
}

 #shopping_cart {
	width:950px;
	height:50px;
	background:#fcfdff;

}

 #shopping_cart span{
	font-size:18px;
	padding:5px;
	line-height:30px;
	float:right;

}

 #shopping_cart img{
 	width:25px;
 	height:20px;
 	margin: 5px 5px 5px 5px;

}

#cart-table {
	width:950px;
	text-align:center;

}

#cart-table td{ 
	border: 1px solid #f2f2f2;
	padding: 10px 10px 10px 10px;

	
}

#cart-bottom {width:950px;
	text-align:center;}

#cart-bottom td{width:50%;
	text-align:center;}

#total {margin:10px 10px 10px 10px;}



#cart_items {
	display:block;
	text-align:center;
	width:40%;
	margin:auto;
}


#cart_img {
	width:75px;
	height:75px;
	display:block;
	margin:auto;
	/*margin-top:20px;*/

}

#add_div {
	text-align:center;
	margin:auto;
	border: 1px solid grey;
	border-radius: 50%;
	width:20px;
	height:20px
	/*margin: 5px 5px 5px 5px;*/
}

#add_img {width:10px;
	height:10px;
	margin: 5px 5px 5px 5px;}

#logo {
	float:left;
	width:120px;
	height:120px;

}

#banner {
	width:950px;
	height:120px;
	float:right;

}

#insert_form {
	text-align:left;
}

#insert_form table {
	border: 1px solid black;
	margin:auto;
	margin-top:45px;
}

#insert_form tr {
	
}

#insert_form td{
	padding:7px;
	/*border: 1px solid black;*/
}

#insert_form h1{
	font-size:25px;
	padding:5px;
	text-align: center;
}

#insert_form h2{
	font-size:18px;
	padding:3px;
}

#insert_form input{
	height:20px;
	width:200px;
}



